@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&display=swap');

:root {
  /* Fonts */
  --titleFont: 'Lora', serif;
  --mainFont: 'Montserrat', sans-serif;

  /* Colors */
  --yellow: #F8D431;
  --purple: #131247;
  --beige: #FAF9F4;
  --gray: #D0D0D0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--mainFont);
  color: var(--purple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  margin: 0 auto;
}